:root {
  --light-bg-color: white;
  --transform-bg-border-color: rgb(196, 196, 196);
  --transform-dial-bg-color: grey;
  --transform-dial-border-color: white;
  --transform-dial-hover-bg-color: #00aced;
  --transform-dial-bg-active-color: #0192c7;
  --control-panel-bg-color: white;
  --canvas-container-bg-color: #e5e5e5;
  --preferred-border-color: rgba(0, 0, 0, 0.1);
  --preferred-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  --control-panel-fg-color: #aaaaaa;
}
